html, body, head, p, ul, li, a, h1, h2, h3, h4 ,h5, h6 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Robot';
    text-decoration: none;
    list-style: none;
}

.page {
    position: relative;
    /* background-image: url(../homework7/img/background\ 1.png); */
    width: 1366px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

header {
    width: 1030px;
    margin: 0 auto;
    padding-top: 50px;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.header-row {
    display: flex;
    justify-content: space-between;
}

.header-logo-box {
    display: flex;
}

.logo {
    position: absolute;
    z-index: 2;
}

.orange-logo {
    position: absolute;
    z-index: 1;
}

.header-logo-box:hover .logo {
    z-index: 1;
}

.header-logo-box:hover .orange-logo {
    z-index: 2;
}

.header-logo-box:hover .header-title-bold {
    color: #F26522;
}

.header-logo-box:hover .header-title{
    color: #F26522;
}

.header-title {
    margin-left: 61px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    z-index: 3;
}

.header-title-bold {
    color: #FFFFFF;
    font-size: 29px;
    font-weight: 700;
    line-height: 29px;
    z-index: 3;
}

.header-link-box {
    z-index: 3;
}

.fr-link {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    transition: 0.5s;
}

.fr-link:hover {
    color: #F26522;
}

.sc-link {
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: right;
    display: block;
    z-index: 4;
    transition: 0.5s;
}

.sc-link:hover  {
    color: #F26522;
} 

.page {
    height: 800px;
}

main {
    width: 1030px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 305px);
    grid-template-rows: 1fr 1fr;
    gap: 37px 60px;
}

.trip-box1, .trip-box2, .trip-box3, .trip-box4, .trip-box5, .trip-box6{
    position: relative;
    width: 300px;
    height: 270px;
}

.img-box1 {
    position: relative;
    overflow: hidden;
    height: 220px;
}

.img1 {
    width: 305px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.hover-box1 {
    position: absolute;
    bottom: -60px;
    right: 0px;
    z-index: 3;
    width: 266px;
    display: flex;
    justify-content: space-between;
    padding: 7px 16px 12px 16px;
    background-color: #F26522;
    transition: 0.5s;
}

.hover-text {
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.hover-price {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
}

.hover-link1 {
    margin-top: 22px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #FFFFFF;
}

.hover-link1::after {
    content: ">";
    margin-left: 15px;
}

.trip-box1-title {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #FFFFFF;
    transition: 0.5s;
    cursor: pointer;
}

.trip-box1:hover .trip-box1-title {
    color: #F26522;
}

.trip-box1:hover .hover-box1 {
    bottom: 0px;
}

.hover-box2 {
    position: absolute;
    bottom: -60px;
    right: 0px;
    z-index: 3;
    width: 264px;
    display: flex;
    justify-content: space-between;
    padding: 7px 16px 12px 16px;
    background-color: #F26522;
    transition: 0.5s;
}

.trip-box2:hover .hover-box2 {
    bottom: 0;
}

.trip-box2:hover .trip-box1-title {
    color: #F26522;
}

.hover-box3 {
    position: absolute;
    bottom: -60px;
    right: 0px;
    z-index: 3;
    width: 266px;
    display: flex;
    justify-content: space-between;
    padding: 7px 16px 12px 16px;
    background-color: #F26522;
    transition: 0.5s;
}

.trip-box3:hover .hover-box3 {
    bottom: 0;
}

.trip-box3:hover .trip-box1-title {
    color: #F26522;
}

.hover-box4 {
    position: absolute;
    bottom: -60px;
    right: 0px;
    z-index: 3;
    width: 266px;
    display: flex;
    justify-content: space-between;
    padding: 7px 16px 12px 16px;
    background-color: #F26522;
    transition: 0.5s;
}

.trip-box4:hover .hover-box4 {
    bottom: 0;
}

.trip-box4:hover .trip-box1-title {
    color: #F26522;
}

.hover-box5 {
    position: absolute;
    bottom: -60px;
    right: 0px;
    z-index: 3;
    width: 266px;
    display: flex;
    justify-content: space-between;
    padding: 7px 16px 12px 16px;
    background-color: #F26522;
    transition: 0.5s;
}

.trip-box5:hover .hover-box5 {
    bottom: 0;
}

.trip-box5:hover .trip-box1-title {
    color: #F26522;
}

.hover-box6 {
    position: absolute;
    bottom: -60px;
    right: 0px;
    z-index: 3;
    width: 266px;
    display: flex;
    justify-content: space-between;
    padding: 7px 16px 12px 16px;
    background-color: #F26522;
    transition: 0.5s;
}

.trip-box6:hover .hover-box6 {
    bottom: 0;
}

.trip-box6:hover .trip-box1-title {
    color: #F26522;
}

footer {
    width: 1030px;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
    z-index: 4;
}

.footer-text {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #FFFFFF;
}
